{
    "host": "example.com",
    "port": 22,
    "username": "username",
    "appPath": "/home/troy/webapps/troyblank/",
    "commands": [
        "cd ~/webapps/troyblank; git pull origin master",
        "echo 'somePass' | sudo -S systemctl restart troyblank.service"
    ]
}
