{% extends "base.html" %}

{% block main_content %}
    <section class="content-cnt">
		<div id="contact-form" class="content">
        	<form action="/contact/" method="post" style="display:{% if emailSent %}none{% else %}block{% endif %};">
	        	{% csrf_token %}
	        	{% for field in contactForm %}
	        		{{ field.errors }}
	        		{{ field }}
	        	{% endfor %}
	        	<input type="submit" value="Submit" />
	        </form>
	        <div class="thank-you" style="display:{% if emailSent %}block{% else %}none{% endif %}">
	        	<h1>Thank you,</h1><br />
				<h2>your email was probably charming.</h2>
	        </div>
    	</div>
    </section>
{% endblock %}