{% extends "base.html" %}

{% block main_content %}
    <section class="content-cnt portfolio-piece">
        <div class="content">
            <h1>Recurring Circles</h1><br />
            <h2>Flash | ID 007 | 2009</h2>
            <div class="body">
                <div class="slideshow"> 
                    <nav></nav>
                    <div class="slide-band"></div>
                    <div class="region">
                        <div class="under-size-error">
                            <div>The size of your browser is too small to properly display this content.</div>
                            <img src="{{ MEDIA_URL }}images/skull.png" />
                        </div>
                        <div class="slide" data-src="{{ MEDIA_URL }}specimens/2009/recurringCircles/swf/recurringCircles_1.swf" data-width="800" data-height="600" data-resizeable="true" data-type="flash" data-version="9.0.28" data-flash-vars="" data-flash-params="bgcolor:#333333,wmode:opaque" data-trap-keys="false" >
                            <div class="flashContent">
                                <div id="flashContent1" class="flashReplacementDiv">
                                    <div class="flashAlternativeContent">
                                        <div>
                                            <strong>You need to install Flash Player to view this content.</strong>
                                            <br /><br />
                                            <a href="http://www.adobe.com/go/getflashplayer" target="_blank"><img src="{{ MEDIA_URL }}images/get_flash_player.png" alt="Get Adobe Flash player" /></a>
                                            <br /><br />
                                            There is also possibility if you are on a device that does not support flash this content is not accessible to you.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide" data-src="{{ MEDIA_URL }}specimens/2009/recurringCircles/swf/recurringCircles_2.swf" data-width="800" data-height="600" data-resizeable="true" data-type="flash" data-version="9.0.28" data-flash-vars="" data-flash-params="bgcolor:#333333,wmode:opaque" data-trap-keys="false" >
                            <div class="flashContent">
                                <div id="flashContent2" class="flashReplacementDiv">
                                    <div class="flashAlternativeContent">
                                        <div>
                                            <strong>You need to install Flash Player to view this content.</strong>
                                            <br /><br />
                                            <a href="http://www.adobe.com/go/getflashplayer" target="_blank"><img src="{{ MEDIA_URL }}images/get_flash_player.png" alt="Get Adobe Flash player" /></a>
                                            <br /><br />
                                            There is also possibility if you are on a device that does not support flash this content is not accessible to you.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide" data-src="{{ MEDIA_URL }}specimens/2009/recurringCircles/swf/recurringCircles_3.swf" data-width="800" data-height="600" data-resizeable="true" data-type="flash" data-version="9.0.28" data-flash-vars="" data-flash-params="bgcolor:#333333,wmode:opaque" data-trap-keys="false" >
                            <div class="flashContent">
                                <div id="flashContent3" class="flashReplacementDiv">
                                    <div class="flashAlternativeContent">
                                        <div>
                                            <strong>You need to install Flash Player to view this content.</strong>
                                            <br /><br />
                                            <a href="http://www.adobe.com/go/getflashplayer" target="_blank"><img src="{{ MEDIA_URL }}images/get_flash_player.png" alt="Get Adobe Flash player" /></a>
                                            <br /><br />
                                            There is also possibility if you are on a device that does not support flash this content is not accessible to you.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide image" data-width="540" data-height="375" data-resizeable="true" >
                            <img src="{{ MEDIA_URL }}specimens/2009/recurringCircles/images/recurringCircles_1.jpg" alt="Recurring Circles" />
                        </div>
                        <div class="slide image" data-width="540" data-height="375" data-resizeable="true" >
                            <img src="{{ MEDIA_URL }}specimens/2009/recurringCircles/images/recurringCircles_2.jpg" alt="Recurring Circles" />
                        </div>
                        <div class="slide image" data-width="540" data-height="375" data-resizeable="true" >
                            <img src="{{ MEDIA_URL }}specimens/2009/recurringCircles/images/recurringCircles_3.jpg" alt="Recurring Circles" />
                        </div>
                    </div>
                </div>
                 <p>Here are three variations of circular particle effects that I have been toying with. I started with the crazy idea of making a flash movie that could actually hypnotize someone. I failed, but the final results are still pretty cool.</p>
            </div>
        </div>
    </section>
{% endblock %}