{% extends "base.html" %}

{% block main_content %}
    <section class="portfolio-piece">
        <div class="content">
            <h1>In Your Pocket Commercial</h1><br />
            <h2>Video | ID 010 | Central Bancompany | 2010</h2>
            <div class="body">
                <div class="slideshow"> 
                    <nav></nav>
                    <div class="slide-band"></div>
                    <div class="region">
                        <div class="under-size-error">
                            <div>The size of your browser is too small to properly display this content.</div>
                            <img src="{{ MEDIA_URL }}images/skull.png" />
                        </div>
                        <div class="slide image" data-width="900" data-height="506" data-resizeable="true" >
                            <img src="{{ MEDIA_URL }}specimens/2010/inYourPocketCommercial/images/inYourPocket_1.jpg" alt="In Your Pocket Commercial" />
                        </div>
                        <div class="slide image" data-width="900" data-height="506" data-resizeable="true" >
                            <img src="{{ MEDIA_URL }}specimens/2010/inYourPocketCommercial/images/inYourPocket_2.jpg" alt="In Your Pocket Commercial" />
                        </div>
                        <div class="slide image" data-width="900" data-height="506" data-resizeable="true" >
                            <img src="{{ MEDIA_URL }}specimens/2010/inYourPocketCommercial/images/inYourPocket_3.jpg" alt="In Your Pocket Commercial" />
                        </div>
                        <div class="slide image" data-width="900" data-height="506" data-resizeable="true" >
                            <img src="{{ MEDIA_URL }}specimens/2010/inYourPocketCommercial/images/inYourPocketMakingOf.jpg" alt="In Your Pocket Commercial - Making of" />
                        </div>
                    </div>
                </div>
                 <p>Central Bancompany's "In Your Pocket" commercial aired across Missouri and Kansas in Summer 2010, launching the bank's mobile website. As technical director and post-production artist for the video, I was able to see the initial concept brought to life, from start to finish. With the help of <a href="http://www.liquid9.tv/" target="_blank">Liquid 9's</a> production prowess and the sweet illustrations of my co-worker Matt Shaw, we were able to encompass the idea of "banking that knows no distance" in a very fun and uplifting way. The making of the video by my friend Dave Gilbertson in the menu to the left gives some insight on how this gem was crafted.</p>
            </div>
        </div>
    </section>
{% endblock %}