{% extends "base.html" %}

{% block main_content %}
    <section class="content-cnt portfolio-piece">
        <div class="content">
            <h1>In Your Pocket Commercial</h1><br />
            <h2>Video | ID 010 | Central Bancompany | 2010</h2>
            <div class="body">
                <div class="slideshow center-wrap">
                    <nav></nav>
                    <div class="slide-band"></div>
                    <div class="region">
                        <div class="under-size-error">
                            <div>The size of your browser is too small to properly display this content.</div>
                            <img src="{{ STATIC_URL }}images/skull.png" />
                        </div>
                        <div class="slide resizeable video" data-width="1024" data-height="593" data-alternative-size="600x355,275x172" data-resizeable="tiered" data-type="video" >
                            <div class="video-player">
                                <div class="full-screen-area">
                                    <video id="videoTag" poster="{{ STATIC_URL }}specimens/2010/inYourPocketCommercial/images/inYourPocket_1.jpg">
                                        <source src="{{ STATIC_URL }}specimens/2010/inYourPocketCommercial/video/inYourPocket.mp4">
                                        <source src="{{ STATIC_URL }}specimens/2010/inYourPocketCommercial/video/inYourPocket.ogv">
                                        <source src="{{ STATIC_URL }}specimens/2010/inYourPocketCommercial/video/inYourPocket.webm">
                                    </video>
                                    <div class="overlays">
                                        <div class="buffer"></div>
                                        <div class="big-play-btn"></div>
                                    </div>
                                </div>
                                <div class="control-bar">
                                    <a class="rewind-btn"></a>
                                    <a class="play-pause-btn"></a>
                                    <div class="scrub-bar">
                                        <div class="load-bar"></div>
                                        <div class="progress-bar"></div>
                                        <div class="cursor"></div>
                                    </div>
                                    <div class="timer">
                                        <span>00:00</span>
                                    </div>
                                    <div class="volume-bar">
                                        <div class="status-bar"></div>
                                        <div class="icon"></div>
                                        <div class="cursor"></div>
                                    </div>
                                    <a class="full-screen-btn"></a>
                                </div>
                            </div>
                        </div>
                        <div class="slide resizeable video" data-width="1024" data-height="593" data-alternative-size="600x355,275x172" data-resizeable="tiered" data-type="video" >
                            <div class="video-player">
                                <video id="videoTag" poster="{{ STATIC_URL }}specimens/2010/inYourPocketCommercial/images/inYourPocketMakingOf.jpg">
                                    <source src="{{ STATIC_URL }}specimens/2010/inYourPocketCommercial/video/inYourPocketMakingOf.mp4">
                                    <source src="{{ STATIC_URL }}specimens/2010/inYourPocketCommercial/video/inYourPocketMakingOf.ogv">
                                    <source src="{{ STATIC_URL }}specimens/2010/inYourPocketCommercial/video/inYourPocketMakingOf.webm">
                                </video>
                                <div class="overlays">
                                    <div class="buffer"></div>
                                    <div class="big-play-btn"></div>
                                </div>
                                <div class="control-bar">
                                    <a class="rewind-btn"></a>
                                    <a class="play-pause-btn"></a>
                                    <div class="scrub-bar">
                                        <div class="load-bar"></div>
                                        <div class="progress-bar"></div>
                                        <div class="cursor"></div>
                                    </div>
                                    <div class="timer">
                                        <span>00:00</span>
                                    </div>
                                    <div class="volume-bar">
                                        <div class="status-bar"></div>
                                        <div class="icon"></div>
                                        <div class="cursor"></div>
                                    </div>
                                    <a class="full-screen-btn"></a>
                                </div>
                            </div>
                        </div>
                        <div class="slide resizeable image" data-width="900" data-height="506" data-resizeable="true" >
                            <img src="{{ STATIC_URL }}specimens/2010/inYourPocketCommercial/images/inYourPocket_2.jpg" alt="In Your Pocket Commercial" />
                        </div>
                        <div class="slide resizeable image" data-width="900" data-height="506" data-resizeable="true" >
                            <img src="{{ STATIC_URL }}specimens/2010/inYourPocketCommercial/images/inYourPocket_3.jpg" alt="In Your Pocket Commercial" />
                        </div> 
                    </div>
                </div>
                 <p>Central Bancompany's "In Your Pocket" commercial aired across Missouri and Kansas in Summer 2010, launching the bank's mobile website. As technical director and post-production artist for the video, I was able to see the initial concept brought to life, from start to finish. With the help of <a href="http://www.liquid9.tv/" target="_blank">Liquid 9's</a> production prowess and the sweet illustrations of my co-worker Matt Shaw, we were able to encompass the idea of "banking that knows no distance" in a very fun and uplifting way. The making of the video by my friend Dave Gilbertson in the menu to the left gives some insight on how this gem was crafted.</p>
            </div>
        </div>
    </section>
{% endblock %}