{% extends "base.html" %}

{% block main_content %}
    <section class="content-cnt portfolio-piece">
        <div class="content">
            <h1>Bank Process Animation</h1><br />
            <h2>Javascript | ID 017 | 2014</h2>
            <div class="body">
                <p>People Have sort attention spans, and when viewing web pages there are no exceptions. Unfortunetly when verify a user with a bank Dwolla found out that this process can range from super fast to slugish depending on the bank. In order to keep the waiter engaged we needed a way to entertain and show progress at the same time. This SVG animation does just the trick; built super light weight and responsive using vector graphics this little slice of cool gives a user something to gawk at for the time their bank deems necesary to verify their account.</p>
                <script>
                    alert('hi')
                </script>
                <script src="{{ STATIC_URL }}specimens/2014/bankProcessAnimation/scripts/bankVerificationAnimation.js"></script>
                <script src="{{ STATIC_URL }}specimens/2014/bankProcessAnimation/scripts/models/bankDoorLeft.js"></script>
                <script src="{{ STATIC_URL }}specimens/2014/bankProcessAnimation/scripts/models/bankDoorRight.js"></script>
                <script src="{{ STATIC_URL }}specimens/2014/bankProcessAnimation/scripts/models/checkMark.js"></script>
                <script src="{{ STATIC_URL }}specimens/2014/bankProcessAnimation/scripts/models/form.js"></script>
            </div>
        </div>
    </section>
{% endblock %}