$color-white: #fff;
$color-grey-00: #bfbfbf;
$color-grey-0: #7f7f7f;
$color-grey-1: #444;
$color-grey-2: #1d1d1d;
$color-black: #000;

$color-red: #7f0000;
$color-light-yellow: #f6f6eb;

$color-transparent-white-0: rgba(255, 255, 255, 0);
$color-transparent-white-25: rgba(255, 255, 255, .25);
$color-transparent-black-75: rgba(0, 0, 0, .75);
$color-transparent-black-50: rgba(0, 0, 0, .5);