{% extends "base.html" %}

{% block main_content %}
    <section class="portfolio-piece">
        <div class="content">
            <h1>Digital Header</h1><br />
            <h2>Flash  ID 0011  Salva O’Renick  2010</h2>
            <div class="body">
                <div class="slideshow"> 
                    <div class="region">
                        <nav>
                            <a class="active">1</a>
                            <a>2</a>
                        </nav>
                        <div class="under-size-error">
                            <div>The size of your browser is too small to properly display this content.</div>
                            <img src="{{ MEDIA_URL }}images/skull.png" />
                        </div>
                        <div class="slide" data-src="/specimens/2009/idmlParser/swf/IDMLParser.swf" data-width="945" data-height="600" data-resizeable="false" data-type="flash" data-version="9.0.28" >


                            <div class="flashContent">
                                <div id="flashContent1" class="flashReplacementDiv">
                                    <div class="flashAlternativeContent">
                                        <div>
                                            <strong>You need to install Flash Player to view this content.</strong>
                                            <br /><br />
                                            <a href="http://www.adobe.com/go/getflashplayer" target="_blank"><img src="{{ MEDIA_URL }}images/get_flash_player.png" alt="Get Adobe Flash player" /></a>
                                            <br /><br />
                                            There is also possibility if you are on a device that does not support flash this content is not accessible to you.
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <!--<div class="slide image">
                            <img src="./images/portfolio/placeholders/digitalHeader_port.jpg" alt="digital header port" />
                        </div>-->
                    </div>
                </div>
                 <p>Sed massa est, pretium quis sodales eget, ultrices eu leo. Phasellus id lobortis purus. In a ligula a enim vulputate posuere. Maecenas suscipit accumsan turpis, ac vehicula libero aliquet et. Maecenas faucibus pharetra nunc, mollis consectetur velit commodo quis. Pellentesque a nisi elit, vitae congue ipsum. Donec nisl metus, faucibus ut rutrum quis, tempor ut tortor. In hac habitasse platea dictumst. Fusce non sapien nisi, posuere elementum metus.</p>
                <p>Sed massa est, pretium quis sodales eget, ultrices eu leo. Phasellus id lobortis purus. In a ligula a enim vulputate posuere. Maecenas suscipit accumsan turpis, ac vehicula libero aliquet et. Maecenas faucibus pharetra nunc, mollis consectetur velit commodo quis. Pellentesque a nisi elit, vitae congue ipsum. Donec nisl metus, faucibus ut rutrum quis, tempor ut tortor. In hac habitasse platea dictumst. Fusce non sapien nisi, posuere elementum metus.</p>
            </div>
        </div>
    </section>
{% endblock %}