{% extends "base.html" %}

{% block main_content %}
    <section id="mainNavContent" class="content-cnt nav-content" >
        <a class="close-btn"></a>
        <div class="mask">
            <!-- content to go here -->
        </div>
        <div class="scrollBar">
            <div class="thumb"></div>
        </div>
        <div class="nav nav-up">
            <a class="btn"></a>
        </div>
    </section>

    <section id="portfolioCanvas" class="content-cnt portfolio-piece" >
        <a class="close-btn"></a>
        <div class="mask">
            <!-- portfolio content to go here -->
        </div>
        <div class="scrollBar">
            <div class="thumb"></div>
        </div>
        <div class="nav nav-down">
            <a class="btn"></a>
        </div>
    </section>

    <section id="portfolioCarousel">
        <a data-image="{{ STATIC_URL }}specimens/2014/bankProcessAnimation/images/header.jpg" data-image-mobile="{{ STATIC_URL }}specimens/2014/bankProcessAnimation/images/header_mobile.jpg" data-loaded="false" data-link="/specimens/2014/bankProcessAnimation/" >
            <div class="headers">
                <h1>Bank Process Animation</h1><br />
                <h2>Javascript | ID 016 | Dwolla | 2014</h2>
            </div>
        </a>
        <a data-image="{{ STATIC_URL }}specimens/2013/ferdOVision/images/header.jpg" data-image-mobile="{{ STATIC_URL }}specimens/2013/ferdOVision/images/header_mobile.jpg" data-loaded="false" data-link="/specimens/2013/ferdOVision/" >
            <div class="headers">
                <h1>Ferd-O-Vision</h1><br />
                <h2>Python | ID 015 | 2013</h2>
            </div>
        </a>
        <a data-image="{{ STATIC_URL }}specimens/2012/lepsLogo/images/header.jpg" data-image-mobile="{{ STATIC_URL }}specimens/2012/lepsLogo/images/header_mobile.jpg" data-loaded="false" data-link="/specimens/2012/lepsLogo/" >
            <div class="headers">
                <h1>The Fighting Leprechauns Logo</h1><br />
                <h2>Illustration | ID 014 | 2012</h2>
            </div>
        </a>
        <a data-image="{{ STATIC_URL }}specimens/2011/troyblankcomV2/images/header.jpg" data-image-mobile="{{ STATIC_URL }}specimens/2011/troyblankcomV2/images/header_mobile.jpg" data-loaded="false" data-link="/specimens/2011/troyblankcomV2/" >
            <div class="headers">
                <h1>troyblank.com V2</h1><br />
                <h2>Flash | ID 013 | 2011</h2>
            </div>
        </a>
        <a data-image="{{ STATIC_URL }}specimens/2010/webAnalyticsVisualization/images/header.jpg" data-image-mobile="{{ STATIC_URL }}specimens/2010/webAnalyticsVisualization/images/header_mobile.jpg" data-loaded="false" data-link="/specimens/2010/webAnalyticsVisualization/" >
            <div class="headers">
                <h1>Web Analytics Visualization</h1><br />
                <h2>Flash | ID 012 | Salva O'Renick | 2010</h2>
            </div>
        </a>
        <a data-image="{{ STATIC_URL }}specimens/2010/digitalHeader/images/header.jpg" data-image-mobile="{{ STATIC_URL }}specimens/2010/digitalHeader/images/header_mobile.jpg" data-loaded="false" data-link="/specimens/2010/digitalHeader/" >
            <div class="headers">
                <h1>Digital Header</h1><br />
                <h2>Flash | ID 011 | Salva O'Renick | 2010</h2>
            </div>
        </a>
        <a data-image="{{ STATIC_URL }}specimens/2010/inYourPocketCommercial/images/header.jpg" data-image-mobile="{{ STATIC_URL }}specimens/2010/inYourPocketCommercial/images/header_mobile.jpg" data-loaded="false" data-link="/specimens/2010/inYourPocketCommercial/" >
            <div class="headers">
                <h1>In Your Pocket Commercial</h1><br />
                <h2>Video | ID 010 | Central Bancompany | 2010</h2>
            </div>
        </a>
        <a data-image="{{ STATIC_URL }}specimens/2010/chiefsZone/images/header.jpg" data-image-mobile="{{ STATIC_URL }}specimens/2010/chiefsZone/images/header_mobile.jpg" data-loaded="false" data-link="/specimens/2010/chiefsZone/" >
            <div class="headers">
                <h1>Chiefs Zone</h1><br />
                <h2>Django | ID 009 | Sports Radio 810 WHB | 2010</h2>
            </div>
        </a>
        <a data-image="{{ STATIC_URL }}specimens/2010/AidsWalkKickOffVideo/images/header.jpg" data-image-mobile="{{ STATIC_URL }}specimens/2010/AidsWalkKickOffVideo/images/header_mobile.jpg" data-loaded="false" data-link="/specimens/2010/AidsWalkKickOffVideo/" >
            <div class="headers">
                <h1>Aids Walk Kick-Off Video</h1><br />
                <h2>Video | ID 008 | AIDS Walk Kansas City | 2010</h2>
            </div>
        </a>
        <a data-image="{{ STATIC_URL }}specimens/2009/recurringCircles/images/header.jpg" data-image-mobile="{{ STATIC_URL }}specimens/2009/recurringCircles/images/header_mobile.jpg" data-loaded="false" data-link="/specimens/2009/recurringCircles/" >
            <div class="headers">
                <h1>Recurring Circles</h1><br />
                <h2>Flash | ID 007 | 2009</h2>
            </div>
        </a>
        <a data-image="{{ STATIC_URL }}specimens/2009/cubicCurve/images/header.jpg" data-image-mobile="{{ STATIC_URL }}specimens/2009/cubicCurve/images/header_mobile.jpg" data-loaded="false" data-link="/specimens/2009/cubicCurve/" >
            <div class="headers">
                <h1>Cubic Curve</h1><br />
                <h2>Flash | ID 006 | 2009</h2>
            </div>
        </a>
        <a data-image="{{ STATIC_URL }}specimens/2009/theHolidayHQ/images/header.jpg" data-image-mobile="{{ STATIC_URL }}specimens/2009/theHolidayHQ/images/header_mobile.jpg" data-loaded="false" data-link="/specimens/2009/theHolidayHQ/" >
            <div class="headers">
                <h1>The Holiday HQ</h1><br />
                <h2>Processing | ID 005 | Salva O'Renick | 2009</h2>
            </div>
        </a>
        <a data-image="{{ STATIC_URL }}specimens/2009/arrowFlashNavigation/images/header.jpg" data-image-mobile="{{ STATIC_URL }}specimens/2009/arrowFlashNavigation/images/header_mobile.jpg" data-loaded="false" data-link="/specimens/2009/arrowFlashNavigation/" >
            <div class="headers">
                <h1>Arrow Flash Navigation</h1><br />
                <h2>Flash | ID 004 | [Redacted] | 2009</h2>
            </div>
        </a>
        <a data-image="{{ STATIC_URL }}specimens/2009/demoReel/images/header.jpg" data-image-mobile="{{ STATIC_URL }}specimens/2009/demoReel/images/header_mobile.jpg" data-loaded="false" data-link="/specimens/2009/demoReel/" >
            <div class="headers">
                <h1>Demo Reel</h1><br />
                <h2>Video | ID 003 | Salva O'Renick | 2009</h2>
            </div>
        </a>
        <a data-image="{{ STATIC_URL }}specimens/2009/kurcaMysteryGame/images/header.jpg" data-image-mobile="{{ STATIC_URL }}specimens/2009/kurcaMysteryGame/images/header_mobile.jpg" data-loaded="false" data-link="/specimens/2009/kurcaMysteryGame/" >
            <div class="headers">
                <h1>Kurca Murder Mystery Game</h1><br />
                <h2>Flash | ID 002 | Sugar Creek Missouri | 2009</h2>
            </div>
        </a>
        <a data-image="{{ STATIC_URL }}specimens/2009/idmlParser/images/header.jpg" data-image-mobile="{{ STATIC_URL }}specimens/2009/idmlParser/images/header_mobile.jpg" data-loaded="false" data-link="/specimens/2009/idmlParser/" >
            <div class="headers">
                <h1>IDML Parser</h1><br />
                <h2>Flash | ID 001 | Salva O’Renick | 2009</h2>
            </div>
        </a>
    </section>
    <div class="nav nav-right">
        <a class="btn"></a>
    </div>
    <div class="nav nav-left">
        <a class="btn"></a>
    </div>
{% endblock %}