{% extends "base.html" %}

{% block main_content %}
    <section id="portfolioCanvas" class="portfolio-piece" >
        <a class="close-btn"></a>
        <div class="mask">
            <div class="content">
                <h1>Digital Header</h1><br />
                <h2>Flash  ID 0011  Salva O’Renick  2010</h2>
                <div class="body">
                    <p>Sed massa est, pretium quis sodales eget, ultrices eu leo. Phasellus id lobortis purus. In a ligula a enim vulputate posuere. Maecenas suscipit accumsan turpis, ac vehicula libero aliquet et. Maecenas faucibus pharetra nunc, mollis consectetur velit commodo quis. Pellentesque a nisi elit, vitae congue ipsum. Donec nisl metus, faucibus ut rutrum quis, tempor ut tortor. In hac habitasse platea dictumst. Fusce non sapien nisi, posuere elementum metus.</p>
                    <p>Sed massa est, pretium quis sodales eget, ultrices eu leo. Phasellus id lobortis purus. In a ligula a enim vulputate posuere. Maecenas suscipit accumsan turpis, ac vehicula libero aliquet et. Maecenas faucibus pharetra nunc, mollis consectetur velit commodo quis. Pellentesque a nisi elit, vitae congue ipsum. Donec nisl metus, faucibus ut rutrum quis, tempor ut tortor. In hac habitasse platea dictumst. Fusce non sapien nisi, posuere elementum metus.</p>
                    <div class="slideshow">
                        <nav>
                            <a class="active">1</a>
                            <a>2</a>
                        </nav>
                        <div class="region">
                            <div class="under-size-error"></div>
                            <div class="slide flash" data-src="{{ MEDIA_URL }}specimens/2009/idmlParser/swf/IDMLParser.swf" data-width="945" data-height="600" data-resizeable="false" >



                                <!--<div class="flashContent" id="flashCnt1">
                                    <div id="flashContent1">
                                        <div class="flashAlternativeContent" id="flashAlternativeContent1">
                                            <strong>You need to install Flash Player to view this content.</strong>
                                            <br /><br />
                                            <a href="http://www.adobe.com/go/getflashplayer" target="_blank"><img src="images/get_flash_player.gif" alt="Get Adobe Flash player" /></a>
                                            <br /><br />
                                            If you feel this message is an error <a id="byPassURL" href=byPass >bypass flash detection here</a>
                                        </div>
                                    </div>
                                </div>-->



                            </div>
                            <!--<div class="slide image">
                                <img src="{{ MEDIA_URL }}images/portfolio/placeholders/digitalHeader_port.jpg" alt="digital header port" />
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scrollBar">
            <div class="thumb"></div>
        </div>
        <div class="nav nav-down">
            <a class="btn"></a>
        </div>
    </section>

    <section id="portfolioCarousel">
        <a data-image="{{ MEDIA_URL }}images/portfolio/placeholders/digitalHeader.jpg" data-image-mobile="{{ MEDIA_URL }}images/portfolio/placeholders/digitalHeader_mobile.jpg" data-loaded="false" data-link="" >
            <div class="headers">
                <h1>Digital Header</h1><br />
                <h2>Flash  ID 0011  Salva O’Renick  2010</h2>
            </div>
        </a>
        <a data-image="{{ MEDIA_URL }}images/portfolio/placeholders/digitalHeader.jpg" data-image-mobile="{{ MEDIA_URL }}images/portfolio/placeholders/digitalHeader_mobile.jpg" data-loaded="false">
            <div class="headers">
                <h1>Second Thing</h1><br />
                <h2>Flash  ID 0011  Salva O’Renick  2010</h2>
            </div>
        </a>
        <a data-image="{{ MEDIA_URL }}images/portfolio/placeholders/digitalHeader.jpg" data-image-mobile="{{ MEDIA_URL }}images/portfolio/placeholders/digitalHeader_mobile.jpg" data-loaded="false">
            <div class="headers">
                <h1>Third Thing</h1><br />
                <h2>Flash  ID 0011  Salva O’Renick  2010</h2>
            </div>
        </a>
        <a data-image="{{ MEDIA_URL }}images/portfolio/placeholders/digitalHeader.jpg" data-image-mobile="{{ MEDIA_URL }}images/portfolio/placeholders/digitalHeader_mobile.jpg" data-loaded="false">
            <div class="headers">
                <h1>Four Thing</h1><br />
                <h2>Flash  ID 0011  Salva O’Renick  2010</h2>
            </div>
        </a>
        <a data-image="{{ MEDIA_URL }}images/portfolio/placeholders/digitalHeader.jpg" data-image-mobile="{{ MEDIA_URL }}images/portfolio/placeholders/digitalHeader_mobile.jpg" data-loaded="false">
            <div class="headers">
                <h1>Five Thing</h1><br />
                <h2>Flash  ID 0011  Salva O’Renick  2010</h2>
            </div>
        </a>
    </section>
    <div class="nav nav-right">
        <a class="btn"></a>
    </div>
    <div class="nav nav-left">
        <a class="btn"></a>
    </div>
{% endblock %}