{% extends "base.html" %}

{% block main_content %}
    <section class="content-cnt portfolio-piece">
        <div class="content">
            <h1>Food How</h1><br />
            <h2>Node | ID 017 | 2014</h2>
            <div class="body">
                <div class="slideshow center-wrap">
                    <nav></nav>
                    <div class="slide-band"></div>
                    <div class="region">
                        <div class="under-size-error">
                            <div>The size of your browser is too small to properly display this content.</div>
                            <img src="{{ STATIC_URL }}images/skull.png" />
                        </div>
                        <div class="slide resizeable image" data-width="1024" data-height="683" data-resizeable="true" >
                            <img src="{{ STATIC_URL }}specimens/2014/foodHow/images/cuttingBoard.jpg" alt="Ferd-O-Vision Final Product" />
                        </div>
                    </div>
                </div>
                <p>I often find myself at a grocery store without a list, so I end up picking up generic ingredients to make generic and lame meals. With this frustration in combination of my desire to make everything in my life digital I decided to take all my recipes and put them on the web so I could view them anywhere; that's the day Food How was born. Food How is a Node application that uses a folder full of recipes in the form of JSON files for it's data.</p>
                <p>The cool thing about Food How is that if you are on the go you can quickly make a grocery list from the recipes using your browser's local store by clicking on ingredients. Blam! no more lame meals because you weren't prepared. Not only did this solve a frustration I had in my life it was also a fun way to play around and learn new technologies. Checkout my own personal demo below or if you want to serve your own Food How with your own ingredients or even modify Food How for your own personal enjoyment feel free to download or fork my code in the link below.</p>
                
                <a target="_blank" href="http://foodhow.troyblank.com">View Demo</a>
                <a target="_blank" href="https://bitbucket.org/troyblank/food-how">Access the Code</a>
            </div>
        </div>
    </section>
{% endblock %}