{% extends "base.html" %}

{% block main_content %}
    <section class="content-cnt portfolio-piece">
        <div class="content">
            <h1>The Fighting Leprechauns Logo</h1><br />
            <h2>Illustration | ID 013 | 2012</h2>
            <div class="body">
                <div class="slideshow center-wrap">
                    <nav></nav>
                    <div class="slide-band"></div>
                    <div class="region">
                        <div class="slide resizeable image" data-width="1050" data-height="500" data-resizeable="true" >
                            <img src="{{ STATIC_URL }}specimens/2012/lepsLogo/images/lepsLogo_01.jpg" alt="Fighting Leprachuan Logo" />
                        </div>
                        <div class="slide resizeable image" data-width="1050" data-height="500" data-resizeable="true" >
                            <img src="{{ STATIC_URL }}specimens/2012/lepsLogo/images/lepsLogo_02.jpg" alt="Fighting Leprachuan Pinup Girl" />
                        </div>
                    </div>
                </div>
                <p>From time to time I try to excercise my illustration skills as it's something I rarley get the opportunity to do. The logo above was done for a adult level Hockey team to help differintiate themself from the other teams. After the wives of the team expressed how much they loved the new sweaters and wanted something unique for them in the stands I did a t-shirt illustration for them as well.</p>
            </div>
        </div>
    </section>
{% endblock %}