<section class="content-cnt">
    <div id="contact-form" class="content">
        <div>
            <form action="/contact/" method="post">
                <input type="text" maxlength="100" name="name" id="id_name">
                <input type="text" maxlength="100" name="email" id="id_email">
                <textarea name="message" cols="40" rows="10" id="id_message"></textarea>
                <input type="submit" value="Submit">
            </form>
            <div class="thank-you">
                <h1>Thank you,</h1><br />
                <h2>Here at Troy Blank Labs we love the emails.</h2>
            </div>
            <div class="error">
                <h1>We are sorry,</h1><br />
                <h2>There was something wrong and your email could not be sent at this time.</h2>
            </div>
        </div>
    </div>
</section>