{% extends "base.html" %}

{% block main_content %}
    <section class="content-cnt portfolio-piece">
        <div class="content">
            <h1>Demo Reel</h1><br />
            <h2>Video | ID 003 | Salva O'Renick | 2009</h2>
            <div class="body">
                <div class="slideshow"> 
                    <nav></nav>
                    <div class="slide-band"></div>
                    <div class="region">
                        <div class="slide video" data-width="1024" data-height="593" data-alternative-size="600x355,275x172" data-resizeable="tiered" data-type="video" >
                            <div class="video-player">
                                <video id="videoTag" poster="{{ STATIC_URL }}specimens/2009/demoReel/images/demoReel.jpg">
                                    <source src="{{ STATIC_URL }}specimens/2009/demoReel/video/demoReel.mp4">
                                    <source src="{{ STATIC_URL }}specimens/2009/demoReel/video/demoReel.ogv">
                                    <source src="{{ STATIC_URL }}specimens/2009/demoReel/video/demoReel.webm">
                                </video>
                                <div class="overlays">
                                    <div class="buffer"></div>
                                    <div class="big-play-btn"></div>
                                </div>
                                <div class="control-bar">
                                    <a class="rewind-btn"></a>
                                    <a class="play-pause-btn"></a>
                                    <div class="scrub-bar">
                                        <div class="load-bar"></div>
                                        <div class="progress-bar"></div>
                                        <div class="cursor"></div>
                                    </div>
                                    <div class="timer">
                                        <span>00:00</span>
                                    </div>
                                    <div class="volume-bar">
                                        <div class="status-bar"></div>
                                        <div class="icon"></div>
                                        <div class="cursor"></div>
                                    </div>
                                    <a class="full-screen-btn"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <p>I put together a reel of some of the promotional video/motion work Salva O'Renick had laying around collecting dust. I produced all but two of the videos on this reel.</p>
            </div>
        </div>
    </section>
{% endblock %}