{% extends "base.html" %}

{% block main_content %}
    <section class="content-cnt portfolio-piece">
        <div class="content">
            <h1>Demo Reel</h1><br />
            <h2>Video | ID 003 | Salva O'Renick | 2009</h2>
            <div class="body">
                <div class="slideshow"> 
                    <nav></nav>
                    <div class="slide-band"></div>
                    <div class="region">
                        <div class="slide image" data-width="800" data-height="500" data-resizeable="true" >
                            <img src="{{ MEDIA_URL }}specimens/2009/kurcaMysteryGame/images/kurcaMysteryGame_1.jpg" alt="Kurca Mystery Game" />
                        </div>
                    </div>
                </div>
                 <p>I put together a reel of some of the promotional video/motion work Salva O'Renick had laying around collecting dust. I produced all but two of the videos on this reel.</p>
            </div>
        </div>
    </section>
{% endblock %}